//converter rem
$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

//stage

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

//root
#header {
  iframe {
    width: 100%;
    height: rem(130);
    overflow: hidden;
    @media only screen and (max-width: rem(320)) {
      height: rem(100);
    }
  }
}